@import "tailwindcss";
@theme {
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-check-background: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-light-grayish-blue: hsl(234, 39%, 85%);
  --color-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-very-dark-grayish-blue-alt: hsl(237, 14%, 26%);
}

.light {
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue-light-mode: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue-light-mode: hsl(235, 19%, 35%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  background: url(images/bg-desktop-dark.jpg) var(--color-very-dark-blue)
    no-repeat;
  background-size: 100vw 300px;
  font-size: 1.125rem;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;

  /* @include mobile() {
            background: url(images/bg-mobile-dark.jpg) $Very-Dark-Blue no-repeat;
            background-size: 100vw 200px;
        } */
}
