@import "tailwindcss";

:root {
  --bg-image: url(/images/bg-desktop-dark.jpg);
  --bg-image-mobile: url(/images/bg-mobile-dark.jpg);
  --bg-color: hsl(235, 21%, 11%);
  --task-bg: hsl(235, 24%, 19%);
  --primary: hsl(234, 39%, 85%);
  --muted: hsl(234, 11%, 52%);
  --border-color: hsl(233, 14%, 35%);
  --hover-text: hsl(236, 33%, 92%);
}

.light {
  --bg-image: url(/images/bg-desktop-light.jpg);
  --bg-image-mobile: url(/images/bg-mobile-light.jpg);
  --bg-color: hsl(0, 0%, 98%);
  --task-bg: hsl(0, 0%, 100%);
  --primary: hsl(235, 19%, 35%);
  --muted: hsl(236, 9%, 61%);
  --border-color: hsl(233, 11%, 84%);
  --hover-text: hsl(235, 19%, 35%);
}

@theme {
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-check-background: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --color-bg-image: var(--bg-image);
  --color-bg-main: var(--bg-color);
  --color-task-background: var(--task-bg);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-border: var(--border-color);
  --color-text-hover: var(--hover-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background: var(--bg-image) var(--bg-color) no-repeat;
  background-size: 100vw 300px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
}

@media screen and (max-width: 740px) {
  body {
    background: var(--bg-image-mobile) var(--bg-color) no-repeat;
    background-size: 100vw 200px;
  }
}
